<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.wechat.category.mapper.ShortcutMenuMapper">
    
    <resultMap type="ShortcutMenu" id="ShortcutMenuResult">
        <result property="shortcutMenuId"    column="shortcut_menu_id"    />
        <association property="secondclass" javaType="Secondclass">
            <result property="id" column="id"/>
            <result property="cateId" column="cate_id"/>
            <result property="name" column="name"/>
            <result property="img" column="img"/>
        </association>
    </resultMap>

    <sql id="selectShortcutMenuVo">
        select a.shortcut_menu_id, b.* from shortcut_menu a, secondclass b where a.cate_id = b.id
    </sql>

    <select id="selectShortcutMenuList" parameterType="ShortcutMenu" resultMap="ShortcutMenuResult">
        <include refid="selectShortcutMenuVo"/>
        <if test="secondclass != null and secondclass.id != null ">and a.cate_id = #{secondclass.id} </if>
        <if test="secondclass != null and secondclass.name != null and secondclass.name != ''">and b.name like #{secondclass.name} </if>
    </select>
    
    <select id="selectShortcutMenuById" parameterType="Long" resultMap="ShortcutMenuResult">
        <include refid="selectShortcutMenuVo"/>
        and a.shortcut_menu_id = #{shortcutMenuId}
    </select>
        
    <insert id="insertShortcutMenu" parameterType="ShortcutMenu" useGeneratedKeys="true" keyProperty="shortcutMenuId">
        insert into shortcut_menu
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="secondclass != null and secondclass.id != null">cate_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="secondclass != null and secondclass.id != null">#{secondclass.id},</if>
         </trim>
    </insert>

    <update id="updateShortcutMenu" parameterType="ShortcutMenu">
        update shortcut_menu
        <trim prefix="SET" suffixOverrides=",">
            <if test="secondclass != null and secondclass.id != null">cate_id = #{secondclass.id},</if>
        </trim>
        where shortcut_menu_id = #{shortcutMenuId}
    </update>

    <delete id="deleteShortcutMenuById" parameterType="Long">
        delete from shortcut_menu where shortcut_menu_id = #{shortcutMenuId}
    </delete>

    <delete id="deleteShortcutMenuByIds" parameterType="String">
        delete from shortcut_menu where shortcut_menu_id in 
        <foreach item="shortcutMenuId" collection="array" open="(" separator="," close=")">
            #{shortcutMenuId}
        </foreach>
    </delete>
</mapper>