<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SigninTimeMapper">
    
    <resultMap type="SigninTime" id="SigninTimeResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="creatTime"    column="creat_time"    />
    </resultMap>

    <sql id="selectSigninTimeVo">
        select id, user_id, creat_time from signin_time
    </sql>

    <select id="selectSigninTimeList" parameterType="SigninTime" resultMap="SigninTimeResult">
        <include refid="selectSigninTimeVo"/>
        <where>  
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="creatTime != null "> and creat_time like concat('%', #{creatTime}, '%')</if>
        </where>
    </select>
    
    <select id="selectSigninTimeById" parameterType="Long" resultMap="SigninTimeResult">
        <include refid="selectSigninTimeVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertSigninTime" parameterType="SigninTime" useGeneratedKeys="true" keyProperty="id">
        insert into signin_time
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="creatTime != null">creat_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="creatTime != null">#{creatTime},</if>
         </trim>
    </insert>

    <update id="updateSigninTime" parameterType="SigninTime">
        update signin_time
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="creatTime != null">creat_time = #{creatTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSigninTimeById" parameterType="Long">
        delete from signin_time where id = #{id}
    </delete>

    <delete id="deleteSigninTimeByIds" parameterType="String">
        delete from signin_time where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>