<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.wechat.scocer.mapper.MyintegralMapper">
    
    <resultMap type="Myintegral" id="MyintegralResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="changeIntegral"    column="change_integral"    />
        <result property="changeTime"    column="change_time"    />
        <result property="consumptionType"    column="consumption_type"    />
        <result property="changeType"    column="change_type"    />
    </resultMap>

    <sql id="selectMyintegralVo">
        select id, user_id, change_integral, change_time, consumption_type, change_type from myintegral
    </sql>

    <select id="selectMyintegralList" parameterType="Myintegral" resultMap="MyintegralResult">
        <include refid="selectMyintegralVo"/>
        <where>  
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="changeIntegral != null "> and change_integral = #{changeIntegral}</if>
            <if test="changeTime != null "> and change_time = #{changeTime}</if>
            <if test="consumptionType != null "> and consumption_type = #{consumptionType}</if>
            <if test="changeType != null "> and change_type = #{changeType}</if>
        </where>
    </select>
    
    <select id="selectMyintegralById" parameterType="Integer" resultMap="MyintegralResult">
        <include refid="selectMyintegralVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertMyintegral" parameterType="Myintegral" useGeneratedKeys="true" keyProperty="id">
        insert into myintegral
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="changeIntegral != null">change_integral,</if>
            <if test="changeTime != null">change_time,</if>
            <if test="consumptionType != null">consumption_type,</if>
            <if test="changeType != null">change_type,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="changeIntegral != null">#{changeIntegral},</if>
            <if test="changeTime != null">#{changeTime},</if>
            <if test="consumptionType != null">#{consumptionType},</if>
            <if test="changeType != null">#{changeType},</if>
         </trim>
    </insert>

    <update id="updateMyintegral" parameterType="Myintegral">
        update myintegral
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="changeIntegral != null">change_integral = #{changeIntegral},</if>
            <if test="changeTime != null">change_time = #{changeTime},</if>
            <if test="consumptionType != null">consumption_type = #{consumptionType},</if>
            <if test="changeType != null">change_type = #{changeType},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteMyintegralById" parameterType="Integer">
        delete from myintegral where id = #{id}
    </delete>

    <delete id="deleteMyintegralByIds" parameterType="String">
        delete from myintegral where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>